@model CSC440_Project.Models.OccupationalGroup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var context = new CSC440_Project.Modules.AppDbContext();
    var DOs = context.DetailedOccupations.Where(o => o.OccupationalGroupId == Model.Id).ToList();
}

<h2>@Model.GroupName</h2>
<h3>
    Below is a table of the Detailed Occupations associated with the above group.  You can also
    see a graphical representation of the current and estimated employment below.
</h3>
<br />

@if (Model.FutureEmploymentNumber > Model.CurrentEmploymentNumber)
{
    <h3 style="color:green;">This group is expected to grow by 2020.</h3>
}
else
{
    <h3 style="color:red;">This group is expected to decline by 2020.</h3>
}
<br />

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1.0', { 'packages': ['corechart'] });

    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'Openings');
        data.addRows([
          ['Current', @Model.CurrentEmploymentNumber],
          ['Future', @Model.FutureEmploymentNumber]
        ]);

        var options = {
            'title': 'Employment of Occupation Current vs. Future',
            'width': 400,
            'height': 300
        };

        var chart = new google.visualization.BarChart(document.getElementById('currentfuture'));
        chart.draw(data, options);
    }

    //set up the second graph
    google.load('visualization', '1.0', { 'packages': ['corechart'] });

    google.setOnLoadCallback(drawChart2);

    function drawChart2() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'Openings');
        data.addRows([
          ['Cincinnati', @Model.CurrentEmploymentNumber],
          ['National', @Model.BLSCurrent]
        ]);

        var options = {
            'title': 'Employment Comparison between Cincinnati and National Prospects',
            'width': 400,
            'height': 300
        };

        var chart = new google.visualization.BarChart(document.getElementById('cincyvsnational'));
        chart.draw(data, options);
    }
</script>

<div id="currentfuture" style="float: left;"></div>
<div id="cincyvsnational" style="float: right;"></div>

@Html.Partial("DetailedOccupations", DOs)

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>